In [43]:
# 1. Integers
print(1234560+1)

1234561

In [44]:
type(103285734987)

int

In [45]:
print(103285734987)
print(type(103285734987))

103285734987
<class 'int'>

In [46]:
# 2. Floating-Point Numbers
print(3.2)
print(.3)
print(3.2e-4)
print(type(3.2e-4))

3.2
0.3
0.00032
<class 'float'>

In [47]:
# 3. String
"iye"
display("Hello Word")
print(type("Hello Word"))
print('"Hello Word"')
print("Can't")
print('"She"knows')
print('''"She"knows she can't do it''')
print("""'She'knows she can"t do it""")

'Hello Word'

<class 'str'>
"Hello Word"
Can't
"She"knows
"She"knows she can't do it
'She'knows she can"t do it

In [48]:
# 4. Boolean Type, Boolean Context, and Truthiness (TRUE = 1, FALSE = 0)
print(True)
print(False)
print(type(True))

print(True + False)
print(True + True)
print(False + False)

True
False
<class 'bool'>
1
2
0

In [49]:
# 5. Variable Assignment
a = 'b'
a
print(a)

a = 500
a

b

500

In [50]:
q = w = e = 10
print(q)
print(w)
print(e)

z, x, y = 1, 2, 'a'
print(z)
print(x)
print(y)

print(q, w, e)
print(z, x, y)

10
10
10
1
2
a
10 10 10
1 2 a

In [58]:
# 6. Variable Types in Python
var = 22,2
bar = 22.2
print(var)
print(bar)

var = "Now Im a String"
var

print(var)

(22, 2)
22.2
Now Im a String

In [51]:
# 7. Variable Names
age = 21
_shot1 = 'dor'
# 2bus = 21 (tidak boleh dimulai dengan angka)
print(age)
_shot1

21

'dor'

In [52]:
gila = 0
Gila = 1
gIla = 2
giLa = 3
GILA = 4
g_ila = 5
gi_la =6
Gil_a = 7
G_il_a = 8
_Gila_ = 9

print(gila, Gila, gIla, giLa, GILA, g_ila, gi_la, Gil_a, G_il_a, _Gila_)

0 1 2 3 4 5 6 7 8 9

In [53]:
# 8. Arithmetic Operators
a = 5
b = 2
print(a + b) # penjumlahan
print(a - b) # pengurangan
print(a * b) # perkalian
print(a / b) # pembagian desimal
print(a // b) # pembagian integer
print(a ** b) # pangkat
print(a % b) # modulo (nilai sisa dari pembagian)

print(a + b + 10)

7
3
10
2.5
2
25
1
17

In [54]:
# 9. Comparison Operators
a = 5
b = 2
c = 2
print(a == b)
print(c == b) # sama dengan
print(a != b) # tidak sama dengan
print(a > b) # besar dari
print(a >= b) # besar dari sama dengan
print(a < b) # kecil dari
print(a <= b) # kecil dari sama dengan

False
True
True
True
True
False
False

In [55]:
# 10. String Manipulation
print('Hactive' + '8')
q = 'Py'
w = 'thon'

print(q + w) # + operators

print(q * a) # * operators

print(q in 'Python') # in operators
print(w in 'Pyton')


h = 'HaCTivE8' # case conversion
print(h.upper())
print(h.lower())
print(h.capitalize())
print(h.swapcase())
print(h.title())

Hactive8
Python
PyPyPyPyPy
True
False
HACTIVE8
hactive8
Hactive8
hActIVe8
Hactive8

In [56]:
# Python Lists
a = ['foo', 'bar', 'baz', 'qux']
print(a)

# Lists Are Ordered
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

# Lists Can Contain Arbitrary Objects
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

# Lists Elements Can Be Accessed by Index
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[0])
print(a[5])

print(a[-1])
print(a[-5])

a[2:5]

['foo', 'bar', 'baz', 'qux']
[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]
foo
corge
corge
bar

['baz', 'qux', 'quux']

In [58]:
#index ke 0 1  2   3    4            5           6    7   8  9  10
daftar = [1,2,43,'s', 'False', ['b', 300, 'False'], 4.6, 1 + 1, a, q, w]
#index minus             -7         -6          -5   -4  -3  -2  -1
py = ['Python', 'KS19', 'assoyyy']
print(type(daftarn))
print(daftar)
print(daftar[3])
print(daftar[5])

print(daftar[7])
print(daftar[-3])
print(daftar[1:5])
print(daftar[1:6])

print(daftar + py)
print(py * 3)
print(len(daftar))
print(max(py))
print(min(py))

daftar[8] = py
print(daftar)
daftar[-2] = 'udah malem'
print(daftar)
#del daftar[3]
daftar[:3] = [1.5, 2.1]
print(daftar)

<class 'list'>
[1, 2, 43, 's', 'False', ['b', 300, 'False'], 4.6, 2, ['foo', 'bar', 'baz', 'qux', 'quux', 'corge'], 'Py', 'thon']
s
['b', 300, 'False']
2
['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
[2, 43, 's', 'False']
[2, 43, 's', 'False', ['b', 300, 'False']]
[1, 2, 43, 's', 'False', ['b', 300, 'False'], 4.6, 2, ['foo', 'bar', 'baz', 'qux', 'quux', 'corge'], 'Py', 'thon', 'Python', 'KS19', 'assoyyy']
['Python', 'KS19', 'assoyyy', 'Python', 'KS19', 'assoyyy', 'Python', 'KS19', 'assoyyy']
11
assoyyy
KS19
[1, 2, 43, 's', 'False', ['b', 300, 'False'], 4.6, 2, ['Python', 'KS19', 'assoyyy'], 'Py', 'thon']
[1, 2, 43, 's', 'False', ['b', 300, 'False'], 4.6, 2, ['Python', 'KS19', 'assoyyy'], 'udah malem', 'thon']
[1.5, 2.1, 's', 'False', ['b', 300, 'False'], 4.6, 2, ['Python', 'KS19', 'assoyyy'], 'udah malem', 'thon']

In [62]:
# Modifying a Single List Value
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2] = 15
a[-2] = 21

print(a)

# sebuah item dlm list bisa dihapus pakai del
del a[3]
print(a)

# mengubah beberapa item dlm list sekaligus
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 15, 'qux', 21, 'corge']
['foo', 'bar', 15, 21, 'corge']
['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

In [72]:
# Python Tuples
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)
print(t[0])
print(t[-1])

# packing and unpacking
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

print(s1)
s2
s3
s4

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
foo
corge
foo

'qux'

In [75]:
tapel = (1,2,43, 'a', True, ['b', 300, False], 4.6, 1+1, a, q, w)
print(type(tapel))

<class 'tuple'>

In [83]:
# Python Dictionary
kamus = {'apa':'what', 'siapa':'who', 'bagaimana':'how'}

print(type(kamus))
print(kamus['apa'])
kamus['kapan'] = 'when'
print(kamus)
del kamus['apa']
print(kamus)
kamus.clear()
print(kamus)

<class 'dict'>
what
{'apa': 'what', 'siapa': 'who', 'bagaimana': 'how', 'kapan': 'when'}
{'siapa': 'who', 'bagaimana': 'how', 'kapan': 'when'}
{}

In [92]:
alamat = {}

alamat['kota'] = ['madagascar', 'madinah', 'mekkah']
alamat['jalan'] = 'situ baru'
alamat['nomor rumah'] = 10
alamat['pohon'] = ['cendana', 'mahoni', 'beringin']
alamat['akses'] = {'KRL':'bisa', 'TJ':{'bisa':'tapi susah'}, 'ojol':'tidak'}

print(alamat)
print(alamat['kota'][2])
print(alamat['akses']['TJ'])

{'kota': ['madagascar', 'madinah', 'mekkah'], 'jalan': 'situ baru', 'nomor rumah': 10, 'pohon': ['cendana', 'mahoni', 'beringin'], 'akses': {'KRL': 'bisa', 'TJ': {'bisa': 'tapi susah'}, 'ojol': 'tidak'}}
mekkah
{'bisa': 'tapi susah'}

In [93]:
# Build-in Methods
d = {'a':10, 'b':20, 'c':30}

print(d.items()) #items
print(d.keys()) #keys
print(d.values()) #values

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

In [95]:
person1_age = 21
person2_age = 15
person3_age = 55

some_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65))
some_is_of_working_age

True